/* You can add global styles to this file, and also import other style files */
div.p-menubar-end button.p-button {
  margin-left: 0.5em;
}
.p-menuitem-link-active {
  border: 1px solid #84a8c7;
  background-color: #8dcdff42;
}
